<!DOCTYPE html>
<html lang="en">
    <%- include head_includes %>
    <body>
        <%- include('header_bar.ejs'); -%>
        <main id="main_kategorier">
            <div id="searchbar">
                <div class="searchbar_text">
                    <p>Søg efter produkt</p>
                </div>
                <div class="searchbar_img">
                    <img src="../public/images/loop.png" alt="forstørrelseglas">
                </div>
            </div>
            <div class="heading">
                <h1><%= title %></h1>
            </div>
            <div class="grid">
                <div class="grid-item grid-item-1">
                    <img src="../public/images/byg2.jpg" alt="byggematerialer">
                    <p>Byg</p>
                </div>
                <div class="grid-item grid-item-2">
                    <img src="../public/images/haveogfritid2.jpg" alt="have">
                    <div class="text_wrap">
                        <p>Have & Fritid</p>
                    </div>
                </div>
                <div class="grid-item grid-item-3">
                    <img src="../public/images/bad2.jpg" alt="badeværelse">
                    <p>Bad</p>
                </div>
                <div class="grid-item grid-item-4">
                    <img src="../public/images/elogbelysning2.jpg" alt="lamper">
                    <div class="text_wrap">
                        <p>El & Belysning</p>
                    </div>
                </div>
                <div class="grid-item grid-item-5">
                    <a href="./maling">
                        <img src="../public/images/maling2.jpg" alt="maling">
                        <p>Maling</p>
                    </a>
                </div>
                <div class="grid-item grid-item-6">
                    <img src="../public/images/værktøj2.jpg" alt="værktøj">
                    <p>Værktøj</p>
                </div>
                <div class="grid-item grid-item-7">
                    <img src="../public/images/vvsogvarme2.jpg" alt="vvs">
                    <div class="text_wrap">
                        <p>VVS & Varme</p>
                    </div>
                </div>
                <div class="grid-item grid-item-8">
                    <img src="../public/images/sale2.jpg" alt="udsalg">
                    <p>Restsalg</p>
                </div>
                <div class="grid-item grid-item-9">
                    <img src="../public/images/skabtmedomtanke2.jpg" alt="person holder plante">
                    <div class="text_wrap">
                        <p>Skabt med omtanke</p>
                    </div>
                </div>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
        <script src="../public/javascripts/popup.js"></script>
    </body>
</html>