<!DOCTYPE html>
<html lang="en">
    <%- include('head_includes.ejs'); -%>
    <body>
        <%- include('header_bar.ejs'); -%>
        <main id="main_velkommen">
            <%- include('title_bar.ejs'); -%>
            <div id="kurv_items">
                <div class="kurv_item_1">
                    <div class="kurv_item_img">
                        <img src="../public/images/malerbøtte.png" alt="malerbøtte">
                    </div>
                    <div class="kurv_item_text">
                        <div class="kurv_item_heading"><strong>Dyrup, Loft- og vægmaling, ekstra spærrende, glans 2</strong></div>
                        <div class="kurv_item_quantity">Antal: 2</div>
                        <div class="kurv_item_total">
                            <div>I alt:</div>
                            <div>1299,9 kr.</div>
                        </div>
                    </div>
                </div>
                <div class="kurv_item_2">
                    <div class="kurv_item_img">
                        <img src="../public/images/pensel.png" alt="malerbøtte">
                    </div>
                    <div class="kurv_item_text">
                        <div class="kurv_item_heading"><strong>Flad pensel, B: 50 mm</strong></div>
                        <div class="kurv_item_quantity">Antal: 1</div>
                        <div class="kurv_item_total">
                            <div>I alt:</div>
                            <div>19,95 kr.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="subtotal">
                <div class="subtotal">
                    <div>Subtotal</div>
                    <div>1319,85 kr.</div>
                </div>
            </div>
            <button class="kurv_btn">Fortsæt til betaling</button>
            <div id="harduhusket">
                <div class="harduhusket_heading">
                    <p>Har du husket?</p>
                </div>
                <div class="harduhusket_item harduhusket_item1">
                    <div class="harduhusket_item_img">
                        <img src="../public/images/malerrulle.jpg" alt="malerrulle">
                    </div>
                    <div class="harduhusket_item_text">
                        <p>Malerruller</p>
                    </div>
                    <div class="harduhusket_item_arrow">
                        <img src="../public/images/arrow_right2.png" alt="pil">
                    </div>
                </div>
                <div class="harduhusket_item harduhusket_item2">
                    <div class="harduhusket_item_img">
                        <img src="../public/images/malertape.jpg" alt="malertape">
                    </div>
                    <div class="harduhusket_item_text">
                        <p>Malertape</p>
                    </div>
                    <div class="harduhusket_item_arrow">
                        <img src="../public/images/arrow_right2.png" alt="pil">
                    </div>

                </div>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
    </body>
</html>