<!DOCTYPE html>
<html lang="en">
    <%- include('head_includes.ejs'); -%>
    <body>
        <%- include('header_bar.ejs'); -%>
        <main id="main_velkommen">
            <%- include('title_bar.ejs'); -%>
            <div id="kurv_items">
                <div class="kurv_item_1">
                    <div class="kurv_item_img">
                        <img src="../public/images/malerbøtte.png" alt="malerbøtte">
                    </div>
                    <div class="kurv_item_text">
                        <div class="kurv_item_heading"><strong><%= produkter[0].varenavn %></strong></div>
                        <div class="kurv_item_quantity">Antal: 2</div>
                        <div class="kurv_item_total">
                            <div>I alt:</div>
                            <div><%= (produkter[0].pris)*2 %> kr.</div>
                        </div>
                    </div>
                </div>
                <div class="kurv_item_2">
                    <div class="kurv_item_img">
                        <img src="../public/images/pensel.png" alt="malerbøtte">
                    </div>
                    <div class="kurv_item_text">
                        <div class="kurv_item_heading"><strong><%= produkter[1].varenavn %></strong></div>
                        <div class="kurv_item_quantity">Antal: 1</div>
                        <div class="kurv_item_total">
                            <div>I alt:</div>
                            <div><%= produkter[1].pris %> kr.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="subtotal">
                <div class="subtotal">
                    <div>Subtotal</div>
                    <div><%= (((produkter[0].pris)*2)+(produkter[1].pris)).toFixed(2)%> kr.</div>
                </div>
            </div>
            <button class="kurv_btn">Fortsæt til betaling</button>
            <div id="harduhusket">
                <div class="harduhusket_heading">
                    <p>Har du husket?</p>
                </div>
                <div class="harduhusket_item harduhusket_item1">
                    <div class="harduhusket_item_img">
                        <img src="../public/images/malerrulle.jpg" alt="malerrulle">
                    </div>
                    <div class="harduhusket_item_text">
                        <p>Malerruller</p>
                    </div>
                    <div class="harduhusket_item_arrow">
                        <img src="../public/images/arrow_right2.png" alt="pil">
                    </div>
                </div>
                <div class="harduhusket_item harduhusket_item2">
                    <div class="harduhusket_item_img">
                        <img src="../public/images/malertape.jpg" alt="malertape">
                    </div>
                    <div class="harduhusket_item_text">
                        <p>Malertape</p>
                    </div>
                    <div class="harduhusket_item_arrow">
                        <img src="../public/images/arrow_right2.png" alt="pil">
                    </div>

                </div>
            </div>
        </main>
        <%- include('footer_bar.ejs', {anbefalet: [produkter[2], produkter[3]]}); -%>
    </body>
</html>