<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('header_bar.ejs'); -%>
   <main class="main_kvitteringer">
    <%- include('title_bar.ejs'); -%>
    <div class="main_div_kvitteringer">
      <div>
        <p class="p_kvittering_date">April 2022</p>
      </div>
      <div class="div_kvitteringer">
        <div class="div_kvitteringer_left">
          <p class="p_kvitteringer">5. April</p>
          <p class="p_kvitteringer">Silvan Kolding</p>
        </div>
        <div class="div_kvitteringer_right">
          <p>200 kr.</p>
          <div class="kvitteringer_item_arrow">
            <img src="../public/images/arrow_right2.png" alt="pil">
        </div>
        </div>
      </div>
      <br>
      <div>
        <p class="p_kvittering_date">Marts 2022</p>
      </div>
      <div class="div_kvitteringer">
        <div class="div_kvitteringer_left">
          <p class="p_kvitteringer">5. Marts</p>
          <p class="p_kvitteringer">Silvan Vejle</p>
        </div>
        <div class="div_kvitteringer_right">
          <p>100 kr.</p>
          <div class="kvitteringer_item_arrow">
            <img src="../public/images/arrow_right2.png" alt="pil">
        </div>
        </div>
      </div>
    </div>
    <br>
    </div>
    <div class="div_kvitteringer">
      <div class="div_kvitteringer_left">
        <p class="p_kvitteringer">10. Marts</p>
        <p class="p_kvitteringer">Silvan Vejle</p>
      </div>
      <div class="div_kvitteringer_right">
        <p>1390,90 kr.</p>
        <div class="kvitteringer_item_arrow">
          <img src="../public/images/arrow_right2.png" alt="pil">
      </div>
      </div>
      <%- include('popup.ejs'); -%>  
    </main>
    <footer>
      <%- include('footer_bar.ejs'); -%>
    </footer>
  </body>
</html>
