<!DOCTYPE html>
<html lang="en">
    <%- include('head_includes.ejs'); -%>
    <body>
        <%- include('header_bar.ejs'); -%>
        <main id="main_kategorier">
            <%- include('title_bar.ejs'); -%>
            <div id="searchbar">
                <div class="searchbar_text">
                    <p>Søg efter produkt</p>
                </div>
                <div class="searchbar_img">
                    <img src="../public/images/loop.png" alt="forstørrelseglas">
                </div>
            </div>
            <div class="grid">
                <div class="grid-item grid-item-1">
                    <a href="./vaegmaling">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling</p>
                    </a>
                </div>
                <div class="grid-item grid-item-2">
                    <img src="../public/images/pensler2.jpg" alt="pensel">
                    <p>Pensler</p>
                </div>
                <div class="grid-item grid-item-3">
                    <img src="../public/images/malerrulle2.jpg" alt="malerrulle">
                    <p>Malerruller</p>
                </div>
                <div class="grid-item grid-item-4">
                    <img src="../public/images/malertape2.jpg" alt="malertape">
                    <p>Malertape</p>
                </div>
                <div class="grid-item grid-item-5">
                    <a href="./maling">
                        <img src="../public/images/empty.jpg" alt="empty">
                        <p>varegruppe</p>
                    </a>
                </div>
                <div class="grid-item grid-item-6">
                    <img src="../public/images/empty.jpg" alt="empty">
                    <p>varegruppe</p>
                </div>
                <div class="grid-item grid-item-7">
                    <img src="../public/images/empty.jpg" alt="empty">
                    <p>varegruppe</p>
                </div>
                <div class="grid-item grid-item-8">
                    <img src="../public/images/empty.jpg" alt="empty">
                    <p>varegruppe</p>
                </div>
                <div class="grid-item grid-item-9">
                    <img src="../public/images/empty.jpg" alt="empty">
                    <p>varegruppe</p>
                </div>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
    </body>
</html>