<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('header_bar.ejs'); -%>
   <main class="main_produkt_informationer">
    <%- include('title_bar.ejs'); -%>
       <div class="produkt_item_img">
            <img src="data:<%= vare.contenttype %>;base64,<%= vare.billede.toString('base64') %>" alt="malerbøtte">
        </div>
        <div class="produkt_div_text">
        <div>
            <h3><%= vare.varenavn %></h3>
        </div>
        <div>
            <p><%= vare.varebeskrivelse %></p>
        </div>
        </div>

        <div class="div_button">
            <div class="div_innerdiv_button">
                <button class="produkt_btn">Føj til indkøbsliste</button>
            </div>
            <div class="div_innerdiv_button">
                <button class="produkt_pris_btn"><%= vare.pris %> kr</button>
            </div>
        </div>
        <div class="div_information_text">
            <h3>Lokation</h3>
            <p>Lokationsnummer: 10</p>
            <p>Kig efter skiltning som siger: Maling.</p>
            <p>Hylden er imellem hylderne med: Værktøj og VVS</p>
        </div>
        <div class="div_kort_button">
            <div class="inner_div_kort__button">
            <a href="/produkt_navigering">
                <button class="produkt_kort_btn">Vis på kort</button>
            </a>
            </div>
        </div>

        <div class="harduhusket_item_text">
            <p>Anbefalet tilbehør</p>
        </div>

        <!-- EJS Loop start -->
        
        <% anbefalet.forEach(function(anbefalet) { %> 

            <% if(anbefalet.vareundergruppe == '3640') { %>
            <a href="/vaegmaling">
            <% } else { %>
            <a href="/maling">
            <% } %>

            <div class="harduhusket_item harduhusket_item1">
                    <div class="harduhusket_item_img">
                        <img src="data:<%= anbefalet.contenttype %>;base64,<%= anbefalet.billede.toString('base64') %>" alt="<%= anbefalet.beskrivelse %>">
                    </div>
                    <div class="harduhusket_item_text">
                        <p><%= anbefalet.beskrivelse %></p>
                    </div>
                    <div class="harduhusket_item_arrow">
                        <img src="../public/images/arrow_right2.png" alt="pil">
                    </div>
                </div>
            </a>
            
        <% }); %>
        <!-- EJS Loop end -->

        
    </main>

      <%- include('footer_bar.ejs', {anbefalet: anbefalet}); -%>

  </body>
</html>
