<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('header_bar.ejs'); -%>
   <main class="main_produkt_informationer">
    <%- include('title_bar.ejs'); -%>
       <div class="produkt_item_img">
        <img src="data:<%= vare.contenttype %>;base64,<%= vare.billede.toString('base64') %>" alt="malerbøtte">
        </div>
        <div class="produkt_div_text">
        <div>
            <h3><%= vare.varenavn %></h3>
        </div>
        <div>
            <p><%= vare.varebeskrivelse %></p>
        </div>
    </div>

        <div class="div_button">
            <div class="div_innerdiv_button">
                <button class="produkt_btn">Føj til indkøbsliste</button>
            </div>
            <div class="div_innerdiv_button">
                <button class="produkt_pris_btn"><%= vare.pris %> kr</button>
            </div>
        </div>
        <div class="div_information_text">
            <h3>Lokation</h3>
            <p>Lokationsnummer: 10</p>
            <p>Kig efter skiltning som siger: Maling.</p>
            <p>Hylden er imellem hylderne med: Værktøj og VVS</p>
        </div>
        <div class="div_kort_button">
            <div class="inner_div_kort__button">
            <a href="/produkt_navigering">
                <button class="produkt_kort_btn">Vis på kort</button>
            </a>
            </div>
        </div>

        <div class="harduhusket_item_text">
            <p>Anbefalet tilbehør</p>
        </div>

        <!-- EJS Loop start -->
        
        <% anbefalet.forEach(function(anbefalet) { %> 

            <div class="harduhusket_item harduhusket_item1">
                <div class="harduhusket_item_img">
                    <img src="data:<%= anbefalet.contenttype %>;base64,<%= anbefalet.billede.toString('base64') %>" alt="<%= anbefalet.beskrivelse %>">
                </div>
                <div class="harduhusket_item_text">
                    <p><%= anbefalet.beskrivelse %></p>
                </div>
                <div class="harduhusket_item_arrow">
                    <img src="../public/images/arrow_right2.png" alt="pil">
                </div>
            </div>
            
        <% }); %>
        <!-- EJS Loop end -->

        
    </main>

    <div id="popup" class="popup">
        <button id="popup_header_btn">&times;</button>
          <div id="popup_header_text"><h2>Har du husket?</h2></div>
        <div id="popup_text">“Har du husket?”  er en feature, som skal hjælpe dig med at huske alle materialer til dit projekt. På den måde sparer du evt. en tur i vores byggemarked igen.</div>
        
    
        <!-- Loop start -->
        <% anbefalet.forEach(function(anbefalet) { %> 

        <div id="popup_content">
          <img class="pensel" src="data:<%= anbefalet.contenttype %>;base64,<%= anbefalet.billede.toString('base64') %>" alt="<%= anbefalet.beskrivelse %>">
          <p><%= anbefalet.beskrivelse %></p>
          <img class="arrow_right" src="../public/images/arrow_right2.png" alt="pil">
        </div>

        <% }); %>
<!-- Loop end -->  

      </div>

      <%- include('footer_bar.ejs'); -%>

  </body>
</html>
