<html>
  <head>
    <%- include head_includes %>
  </head>
  <body>
    <%- include header_bar %>
    <main class="profile">
      <div class="profileHeader">
        <a href="#"><i class="fas fa-arrow-left"></i></a>
        <i class="fas fa-user-circle"></i>
        <h1><b><%= user.navn %></b></h1>
        <p><%= user.email %></p>
      </div>
      <section class="profileContent">
        <li>
          <a href="#">
            <div class="profileInfo">
              <p>Tilføj Betalingskort</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
          <a href="#">
            <div class="profileInfo">
              <p>Slå "Har du husket" til/fra</p>
              <i class="fa fa-toggle-on" aria-hidden="true"></i></div
          ></a>
        </li>
        <li>
          <a href="#">
            <div class="profileInfo">
              <p>Kvitteringer</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
          <a href="#">
            <div class="profileInfo">
              <p>Indstillinger</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
          <a href="/logout">
            <div class="profileInfo">
              <p>Logud</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
      </section>
    </main>
    <%- include footer_bar %>
  </body>
</html>
