<html>
  <head>
    <%- include ('head_includes.ejs') -%>
  </head>
  <body>
    <%- include ('header_bar.ejs') -%>
    <main class="profile">
      <div class="profileHeader">
        <a href="/velkommen"><i class="fas fa-arrow-left"></i></a>
        <i class="fas fa-user-circle"></i>
        <h1><b><%= user.navn %></b></h1>
        <p><%= user.email %></p>
      </div>
      <section class="profileContent">
        <li>
          <a href="#">
            <div class="profileInfo">
              <p>Tilføj Betalingskort</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
       
            <div class="profileInfo">
              <form action="/hjaelp" method="post" style="display: contents;">
              <p>Slå "Har du husket" til/fra</p>
                     <% if (user.hjaelp == 1) { %>
                      <div><input name="harduhusket_aktiv" class="harduhusket_aktiveret" type="submit" value="Aktiveret"></div>
                   <% }else{ %>
                    <div><input name="harduhusket_deaktiveret" class="harduhusket_deaktiveret" type="submit" value="Deaktiveret"></div>
                    <% } %>
              </form>
            </div>
        </li>
        <li>
          <a href="/kvitteringer">
            <div class="profileInfo">
              <p>Kvitteringer</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
          <a href="/indstillinger">
            <div class="profileInfo">
              <p>Indstillinger</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
        <li>
          <a href="/logout">
            <div class="profileInfo">
              <p>Logud</p>
              <i class="fas fa-arrow-right"></i></div
          ></a>
        </li>
      </section>
    </main>
    <%- include ('footer_bar.ejs') -%>
  </body>
</html>
