<html>
  <head>
    <%- include ('head_includes.ejs') -%>
  </head>
  <body>
    <%- include ('header_bar.ejs') -%>
    <main class="main_scanning">
      <div class="scan-border">
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>

            
              <% if (!locals.vare) { %>

              <p>Scan en vare for at få flere oplysninger om den</p>

              <p>Gå til en af følgende sider, for at se eksempel på varescanning</p>
              <p><a href="scanvare/1">Maling</a></p>
              <p> <a href="scanvare/2">Pensel</a></p>
                <p><a href="scanvare/3">Malerrulle</a></p>
                  <p><a href="scanvare/4">Malertape</a></p>

              <% } else { %> 

                <h1> Scannet vare </h1>

                <div class="kurv_item_1">
                  <div class="kurv_item_img">
                      <img src="data:<%= vare.contenttype %>;base64,<%= vare.billede.toString('base64') %>" alt="<%= vare.varenavn %>">
                  </div>
                  <div class="kurv_item_text">
                      <div class="kurv_item_heading"><strong><%= vare.varenavn %></strong></div>
                      <div class="kurv_item_total">
                          <div>Pris: </div>
                          <div><%= vare.pris %> kr.</div>
                      </div>
                  </div>
                </div>

                <div class="scan_buttons">
                  <a href="/kurv"><div class="btn_stor">Føj til indkøbskurv</div></a>
                  <a href="/scanvare">
                    <div class="btn_stor">Fortryd Scanning</div>
                  </a>
                </div>

              <% } %>
            
          </div>
        </div>
      </div>
    </main>

    <%- include ('footer_bar.ejs') -%>
    <script src="../public/javascripts/scan.js"></script>
  </body>
</html>
