<!DOCTYPE html>
<html lang="en">
    <%- include('head_includes.ejs'); -%>
    <body>
        <%- include('header_bar.ejs'); -%>
        <main id="main_kategorier">
            <div id="searchbar">
                <div class="searchbar_text">
                    <p>Søg efter produkt</p>
                </div>
                <div class="searchbar_img">
                    <img src="../public/images/loop.png" alt="forstørrelseglas">
                </div>
            </div>
            <%- include('title_bar.ejs'); -%>
            <!-- <div class="heading">
                <h1><%= title %></h1>
            </div> -->
            <div class="grid">
                <div class="grid-item grid-item-1">
                    <a href="./produkt/1">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 1</p>
                    </a>
                </div>
                <div class="grid-item grid-item-2">
                    <a href="./produkt/2">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 2</p>
                    </a>
                </div>
                <div class="grid-item grid-item-3">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 3</p>
                    </a>
                </div>
                <div class="grid-item grid-item-4">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 4</p>
                    </a>
                </div>
                <div class="grid-item grid-item-5">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 5</p>
                    </a>
                </div>
                <div class="grid-item grid-item-6">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 6</p>
                    </a>
                </div>
                <div class="grid-item grid-item-7">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 7</p>
                    </a>
                </div>
                <div class="grid-item grid-item-8">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 8</p>
                    </a>
                </div>
                <div class="grid-item grid-item-9">
                    <a href="./produkt">
                        <img src="../public/images/vægmaling2.jpg" alt="vægmaling">
                        <p>Vægmaling 9</p>
                    </a>
                </div>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
        </body>
</html>