<!DOCTYPE html>
<html lang="en">
  <%- include head_includes %>
    <body>
      <%- include('header_bar.ejs'); -%>
        <main id="main_vejledning">
            <div class="heading">
                <h1><%= title %></h1>
            </div>
            <div class="buttons">
                <div class="btn_stor">
                    <p>Mængdeberegner til dit projekt</p>
                </div>
                <div class="btn_stor">
                    <p>Kald medarbejder</p>
                </div>
                <div class="btn_stor">
                    <p>Vejledning til materialer</p>
                </div>
                <div class="btn_stor">
                    <p>Hjælp til app og betaling</p>
                </div>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
        <script src="../public/javascripts/popup.js"></script>
    </body>
</html>