<!DOCTYPE html>
<html lang="en">
    <%- include('head_includes.ejs'); -%>
    <body>
      <%- include('header_bar.ejs'); -%>
        <main id="main_vejledning">
            <%- include('title_bar.ejs'); -%>
            <!-- <div class="heading">
                <h1><%= title %></h1>
            </div> -->
            <div class="buttons">
                <div class="btn_stor">
                    <p>Mængdeberegner til dit projekt</p>
                </div>
                <div class="btn_stor">
                    <p>Kald medarbejder</p>
                </div>
                <div class="btn_stor">
                    <p>Vejledning til materialer</p>
                </div>
                <div class="btn_stor">
                    <p>Hjælp til app og betaling</p>
                </div>
            </div>
        </main>
        <%- include('footer_bar.ejs'); -%>
    </body>
</html>