<!DOCTYPE html>
<html lang="en">
  <%- include('head_includes.ejs'); -%>
    <body>
      <%- include('header_bar.ejs'); -%>
        <main id="main_velkommen">
            <div class="heading">
                <h1><%= title %></h1>
            </div>
            <div class="content">
                <div class="btn_stor">
                    <p>Scan vare</p>
                </div>
                <a href="./kategorier">
                    <div class="btn_stor">
                        <p>Kategorier</p>
                    </div>
                </a>
                <div class="btn_stor">
                    <p>Indkøbsliste</p>
                </div>
                <a href="./vejledning">
                    <div class="btn_stor">
                        <p>Vejledning</p>
                    </div>
                </a>
            </div>
            <%- include('popup.ejs'); -%>
        </main>
        <%- include('footer_bar.ejs'); -%>
    </body>
</html>